.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-black);
  background-color: var(--main-bg);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: var(--text-link);
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

:root {
  --main-bg: #ffffff;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-link: #000000;
  --text-paragraph: #6f6f6f;
  --text-captions: #485c11;
  --accent-black: #000000;
  --accent-dark-grey: #929292;
  --accent-light-grey: #e9e9e9;
  --accent-light-green: #dfecc6;
  --accent-medium-green: #8e9c78;
  --accent-dark-green: #485c11;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section_title {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: var(--text-captions);
  font-size: 12px;
}

.hero_img img {
  object-fit: cover;
  width: 100%;
  max-height: 665px;
  border-radius: 30px;
  margin-bottom: 40px;
}

.botton-light {
  display: inline-flex;
  padding: 14px 22px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  background-color: var(--accent-light-green);
  color: var(--text-black);
  transition: all 0.3s ease;
  border-radius: 1000px;
  width: 150px;
}

.botton-dark {
  display: inline-flex;
  padding: 14px 22px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  background-color: var(--accent-dark-green);
  color: var(--text-white);
  transition: all 0.3s ease;
  border-radius: 1000px;
}

.botton-light:hover {
  opacity: 0.5;
  color: var(--text-white);
  background-color: var(--accent-dark-green);
}

.botton-dark:hover {
  opacity: 0.5;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 86px;
}

.nav-list {
  display: flex;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 50;
  padding: 20px 24px;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 40%);
  gap: 27px;
}

.nav-items {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.35px;
}

.nav_link {
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: var(--accent-dark-grey);
}

.nav-btn {
  display: none;
  position: relative;
  width: 24px;
  height: 22px;
}

.nav-btn span {
  background-color: #000000;
  position: absolute;
  width: 24px;
  height: 3px;
  left: 0;
  transform: translateY(-50%);
}

.nav-btn::before {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 24px;
  height: 3px;
  left: 0;
  top: 0;
  transform: translateY(50%);
}

.nav-btn::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 24px;
  height: 3px;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
}

.header_bottom {
  gap: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_title {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 160px;
  letter-spacing: -8px;
  text-align: center;
  line-height: 0.85;
}

.header_img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-medium-green);
  border-radius: 30px;
  max-height: 362px;
}

.logo_cloud {
  background-color: var(--main-bg);
  position: relative;
  z-index: 5;
}

.logo_cloud-inner {
  border-bottom: 2px solid var(--accent-light-grey);
}

.logo_cloud-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text-paragraph);
  margin-bottom: 50px;
  padding-top: 50px;
}

.logo_cloud-list {
  display: flex;
  justify-content: center;
  gap: 60px 80px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.benefits {
  padding: 80px 0 120px;
}

.benefits_title {
  margin-bottom: 50px;
  max-width: 575px;
}

.benefits_text-title {
  font-size: 60px;
  margin-bottom: 50px;
}

.benefits_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text-paragraph);
  margin-bottom: 50px;
}

.benefits_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0 20px;
  padding: 40px 0;
  margin-bottom: 60px;
}

.benefits_item {
  border-top: 2px solid var(--accent-light-grey);
}

.benefits_item img {
  padding-top: 42px;
  margin-bottom: 26px;
}

.benefits_item-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.benefits_item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text-paragraph);
  max-width: 265px;
  margin-bottom: 100px;
}

.benefits_img img {
  object-fit: cover;
  width: 100%;
  height: 620px;
  border-radius: 30px;
}

.features {
  margin-bottom: 120px;
}

.features_inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.features_title {
  border-top: 2px solid var(--accent-light-grey);
  padding-top: 60px;
  margin-bottom: 40px;
  font-size: 60px;
}

.features_text {
  color: var(--text-paragraph);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  max-width: 510px;
  margin-bottom: 60px;
}

.features_list {
  margin-bottom: 60px;
}

.features_item {
  display: flex;
  gap: 0 30px;
  border-top: 2px solid var(--accent-light-grey);
  padding: 20px 0;
}

.features_item-number {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text-paragraph);
}

.features-img img {
  object-fit: cover;
  max-width: 590px;
  height: 711px;
  border-radius: 30px;
}

.specifications_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 80px;
  border-top: 2px solid var(--accent-light-grey);
}

.specifications_title {
  max-width: 720px;
  margin-bottom: 40px;
}

.specifications_text-title {
  font-size: 60px;
  margin-bottom: 40px;
  max-width: 720px;
  text-align: center;
}

.specifications_text {
  color: var(--text-paragraph);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  max-width: 720px;
  margin-bottom: 40px;
  text-align: center;
}

.table_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 123px;
}

.table_colum-1 {
  border: 1px solid var(--accent-light-grey);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 2.4px 2.4px 3.2px;
}

.table_item-1 {
  transform: translateY(-2px);
}

.table_list {
  min-width: 400px;
}

.table_item {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  padding: 35px 52px;
  border-bottom: 1px solid var(--accent-light-grey);
  text-align: start;
  position: relative;
}

.table_item-true::before {
  content: "";
  background-image: url(img/table-true.svg);
  background-size: cover;
  width: 10px;
  height: 8px;
  top: 40px;
  left: 32px;
  position: absolute;
}

.table_item-false::before {
  content: "";
  background-image: url(img/table-false.svg);
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 39px;
  left: 32px;
  position: absolute;
}

.table_colum-1 li:last-child {
  border-bottom: none;
}

.table_item-logo {
  text-align: center;
  border-bottom: 1px solid var(--accent-dark-grey);
  padding: 40px 0 25px 0;
}

.testimonia_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  width: 100%;
}

.testimonia-img {
  object-fit: cover;
  border-radius: 30px;
  max-width: 590px;
  height: 670px;
}

.testimonia_textbox {
  border-top: 1px solid var(--accent-light-grey);
  padding-left: 50px;
}

.testimonia_text {
  font-size: 40px;
  max-width: 540px;
  padding-top: 140px;
  margin-bottom: 50px;
  letter-spacing: -1.6px;
  line-height: 1.05;
}

.testimonia_name {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

.testimonia_data {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: var(--text-captions);
}

.how-to_inner {
  padding: 80px 0 120px 0;
}

.how-to_textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  border-top: 1px solid var(--accent-light-grey);
}

.how-to_text {
  font-size: 60px;
  letter-spacing: -1.8px;
  line-height: 0.9;
}

.how-to_list {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.how-to_item-number {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 80px;
  padding-top: 60px;
  margin-bottom: 60px;
  color: var(--accent-dark-grey);
  border-top: 1px solid var(--accent-light-grey);
}

.how-to_item-title {
  font-size: 18px;
  max-width: 356px;
  margin-bottom: 20px;
}

.how-to_item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  max-width: 356px;
  margin-bottom: 20px;
  color: var(--text-paragraph);
}

.contact_inner {
  border-top: 1px solid var(--accent-light-grey);
  border-bottom: 1px solid var(--accent-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.contact_title {
  text-align: center;
  font-size: 60px;
  line-height: 0.9;
  margin-bottom: 40px;
  max-width: 600px;
}

.contact_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 600px;
  font-size: 15px;
  color: var(--text-paragraph);
  margin-bottom: 40px;
  line-height: 1.4;
  letter-spacing: 0.75px;
}

.botton_contact-arrow {
  position: relative;
}
.botton_contact-arrow::after {
  content: "";
  width: 7px;
  height: 10px;
  top: 19px;
  right: 250px;
  background-image: url(img/arrow-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: top 0.5s ease;
  position: absolute;
}
.botton_contact {
  display: flex;
  padding: 14px 22px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  background-color: var(--accent-dark-green);
  color: var(--text-white);
  transition: all 0.3s ease;
  border-radius: 1000px;
  max-width: 600px;
  width: 100%;
  justify-content: center;
}

.botton_contact-arrow:hover::after {
  top: 13px;
}
.botton_contact:hover {
  opacity: 0.5;
}

.footer_inner {
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px 0;
  gap: 80px;
  margin-bottom: 20px;
}

.footer_logo {
  max-width: 32px;
  margin-right: 40px;
}

.footer_nav-list {
  display: flex;
  gap: 27px;
}

.footer_nav-items {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.footer_box {
  display: flex;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-captions);
  align-items: end;
}

.footer_text-copy {
  width: 90px;
}

.footer_textbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 16px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 40px;
  }

  .header_bottom {
    gap: 140px;
  }

  .header_title {
    font-size: 140px;
    line-height: 0.8;
  }

  .logo_cloud-list {
    display: flex;
    justify-content: center;
  }

  .features_inner {
    display: block;
  }

  .botton-features {
    margin-bottom: 68px;
  }

  .features-img img {
    max-width: 100%;
    width: 100%;
    height: 744px;
  }

  .table_list {
    min-width: 238px;
  }

  .table_item {
    font-size: 11px;
    letter-spacing: -0.2px;
    line-height: 1.4;
  }

  .table_item {
    padding: 35px 42px;
  }

  .table_item-true::before {
    top: 40px;
    left: 25px;
  }

  .table_item-false::before {
    top: 39px;
    left: 25px;
  }

  .testimonia_inner {
    flex-direction: column;
  }

  .testimonia-img {
    max-width: 720px;
    min-height: 720px;
    margin-bottom: 40px;
  }

  .testimonia_text {
    max-width: 100%;
    padding-top: 42px;
    line-height: 1.1;
  }

  .testimonial_namebox {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }

  .testimonia_name {
    margin-bottom: 0;
  }

  .testimonia_textbox {
    padding-left: 40px;
  }

  .hero_img img {
    height: 664px;
    margin-bottom: 40px;
  }
}

@media (max-width: 799px) {
  .header_bottom {
    padding-top: 120px;
  }

  .header_title {
    font-size: 76px;
    line-height: 0.85;
    letter-spacing: -3.42px;
  }

  .navbar {
    display: block;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--main-bg);
    width: 100%;
    height: 105px;
    transition: all 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .navbar.active {
    height: 540px;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    position: relative;
    backdrop-filter: none;
    background-color: transparent;
    flex-direction: column;
    padding: 0;
    gap: 0;
    left: 0;
    transform: translateX(0%);
    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.5s ease;
    margin: 50px 0;
  }

  .nav-list.active {
    opacity: 1;
    transform: translateY(0%);
  }

  .nav-items {
    border-top: 1px solid var(--accent-light-grey);
    padding: 30px 0 30px 0;
  }

  .link-nav {
    transform: translateY(-100%);
    transition: all 0.2s ease;
    opacity: 0;
  }

  .link-nav.active {
    opacity: 1;
    transform: translateY(0%);
  }

  .nav-btn span {
    transition: all 0.5s ease;
  }

  .nav-btn::after {
    transition: all 0.4s ease;
  }

  .nav-btn::before {
    transition: all 0.4s ease;
  }

  .nav-btn.active span {
    opacity: 0;
  }

  .nav-btn.active::after {
    content: "";
    top: 50%;
    transform: rotate(45deg);
  }

  .nav-btn.active::before {
    content: "";
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav-btn {
    display: block;
  }

  .features-img img {
    height: 381px;
    object-position: 50% 80%;
  }

  .table_inner {
    overflow-x: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .table_item {
    font-size: 10.5px;
    letter-spacing: -0.3px;
  }

  .table_colum-2 {
    transform: translateY(-1px);
  }

  .testimonia-img img {
    max-width: 720px;
    height: 343px;
    width: 100%;
  }

  .testimonia_textbox {
    padding-left: 16px;
  }

  .testimonia_text {
    padding-top: 40px;
    font-size: 32px;
  }

  .how-to_textbox {
    flex-wrap: wrap;
    gap: 40px;
  }

  .how-to_list {
    overflow-x: auto;
  }

  .how-to_item {
    min-width: 240px;
  }

  .footer_nav-list {
    flex-direction: column;
  }

  .footer_textbox {
    gap: 72px;
    align-items: end;
    font-size: 10.5px;
    letter-spacing: -0.3px;
  }

  .footer_text-copy {
    font-size: 10.5px;
    letter-spacing: -0.3px;
  }

  .section_text-title {
    font-size: 50px;
  }
}
